<!DOCTYPE html>
<html>

<head>
	<title>Manuel's website</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/style-index.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/body.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/flaticon.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <p id="title">Manuel Perez</p>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="">WHAT I DO</a></li>
	        <li><a href="">WORK</a></li>
	        <li><a href="">ABOUT</a></li>
	        <li><a class="border" href="">SAY HELLO</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SOCIAL NETWORKS<span class="caret"></span></a>
	          <ul class="dropdown-menu networks" role="menu">
	            <li><div class="glyph-icon flaticon-facebook54 inline-block"></div><a href="https://www.facebook.com/ManuelStudio2" target="blank">Facebook</a></li>
	            <li><div class="glyph-icon flaticon-twitter46 inline-block"></div><a href="https://twitter.com/PtManuel" target="blank">Twitter</a></li>
	            <li><div class="glyph-icon flaticon-instagram10 inline-block"></div><a href="http://instagram.com/mperezlamadrid/" target="blank">Instagram</a></li>
	            <li><div class="glyph-icon flaticon-tumblr21 inline-block"></div><a href="https://www.tumblr.com/blog/perezlamadrid" target="blank">Blog at Tumblr</a></li>
	            <li class="divider"></li>
	            <li><div class="glyph-icon flaticon-github4 inline-block"></div><a href="https://github.com/mperezlamadrid" target="blank">Gibhub</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="mobile-design">
		<div class="container">
			<div class="content-mobile">
				<div class="title-mobile">
					<p>Mobile desing & development</p>
					<p>studio based in Sydney</p>
				</div>
				<div class="txt-mobile">
					<p>We create mobile apps & websites for iPhone, iPad and</p>
					<p>Andriod (and Windows Phone too)</p>
				</div>
				<div class="button-mobile">
					<a class="button-yellow" href="">BROWSE OUR WORK</a>
					<a class="button-red" href="">HIRE US</a>
				</div>
			</div>
			<div class="img-mobile">
				<img src="images/phone.png">
			</div>
		</div>
	</div>

	<div class="projects">
		<div class="container">
			<h1><span>17</span> projects, and counting</h1>
			<div class="img-project">
				<img src="images/phone2.png">
			</div>
		</div>
	</div>

	<div class="offer">
		<div class="container">
			<div class="title-offer">
				<h1>What we do</h1>
				<span>Every project has a process behind</span>
			</div>
			<div class="content-offer">
				<div class="top-offer inline-block vertical-top">
					<div class="planning inline-block vertical-top margin-box">
						<div class="title-planning inline-block vertical-top margin-title-offer">
							<img src="images/uno.png">
						</div>
						<div class="text-planning inline-block vertical-top text-justify">
							<p id="title-offer-seg">Planning</p>
							<p>First we setup desing environment with some</p>
							<p>assets and conceps. We will listen to your</p>
							<p>thougnts, and create something you'll love</p>
						</div>
					</div>
					<div class="design inline-block vertical-top margin-box">
						<div class="title-design inline-block vertical-top margin-title-offer">
							<img src="images/dos.png">
						</div>
						<div class="text-desing inline-block vertical-top text-justify">
							<p id="title-offer-seg">Design</p>
							<p>After the client's approval, we continue designing</p>
							<p>your application. We will lintes to your thughts, and</p>
							<p>create something you'll love</p>
						</div>
					</div>
				</div>
				<div class="button-offer inline-block vertical-top">
					<div class="development inline-block vertical-top margin-box">
						<div class="title-development inline-block vertical-top margin-title-offer">
							<img src="images/tres.png">
						</div>
						<div class="text-development inline-block vertical-top text-justify">
							<p id="title-offer-seg">Development</p>
							<p>Once design in finished, we take care of the whole</p>
							<p>development. We will listen to your thoughts, and</p>
							<p>create something you'll love</p>		
							</p>
						</div>
					</div>
					<div class="iteration inline-block vertical-top margin-box">
						<div class="title-iteration inline-block vertical-top margin-title-offer">
							<img src="images/cuatro.png">
						</div>
						<div class="text-iteration inline-block vertical-top text-justify">
							<p id="title-offer-seg">Iteration</p>		
							<p>Not happy with the result? Don't worry! We can</p>
							<p>always reiterate. We will listen to your thoughts, and</p>
							<p>create something you'll love</p>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="screem">
		<div class="container">
			<div class="content-screem">
				<p id="title-screem"><strong>Toys'r'Us</strong></p>
				<div class="paragraph-screem">
					<p>Web & App design for one of the world's</p>
					<p>most famous toy sellers, Toys'r'Us. We</p>
					<p>designed & built a complete application</p>
					<p>pack, including: Android, iOS & WP</p>
				</div>
				<div>
					<img src="images/appstore.png">
					<img class="playstore" src="images/playstore.png">
				</div>
			</div>
            
      <div class="img-screem">
      	<img src="images/screem.png" width="510">
      </div>
		</div>
	</div>
    
	<div class="ante-foot">
    	<div class="container">
	    	<p><strong>Like what you see? <span class="sub">Hire Us</span></strong></p>
         </div>
    </div>
    
    <footer>
    	<div class="container">
        	<div class="content-foot">
                <img src="images/kappow2.png">
                <p>Copyright © 2014 Kappow</p>
                <div class="contacts">
                    <img src="images/twitter.png">
                    <img src="images/face.png">
                    <img src="images/in.png">
                </div>
          	</div>   
    	</div>
    </footer>


  <script src="javascripts/jquery-1.11.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>